.slider {
  width: 200px;
}

.slider-input {
  width: 50px;
  margin-left: 10px;
  text-align: center;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
    margin: 0;
  }
}

.slider-container {
  display: flex;
}