{% extends "layout.jinja2" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ normalize_url }}"/>
    <link rel="stylesheet" type="text/css" href="{{ style_url }}"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"/>
{% endblock %}

{% block content %}
    <div id="root">

    </div>
{% endblock content %}


{% block scripts %}
{#    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>#}
    <script src="{{ vendorjs_url }}"></script>
    <script src="{{ bundlejs_url }}"></script>
{% endblock scripts %}


